header>nav {
    font-size: 1rem;
    padding-left: 20px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 10%;
    left: 10%;
}

.portal {
    display: flex;
    flex-direction: column;
    .social {
        width: 1px;
        position: fixed;
        margin-top: 5%;
        right: 5%;
        z-index: 7;
    }
}

i {
    &:hover {
        text-decoration: underline;
        transform: translate(5px);
    }
}