nav {
    div {
        display: block;
        width: auto;
        background: green;
        color: black;
        text-shadow: 1px 1px #fff;
    }
}

.portal {
    display: flex;
    flex-direction: column;
    .social {
        width: 1px;
        position: fixed;
        margin-top: 65%;
        right: 5%;
    }
}

i {
    &:hover {
        text-decoration: underline;
        transform: translate(5px);
    }
}