header>nav {
    font-size: 1rem;
    padding-left: 20%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 10%;
    left: 10%;
}

.portal {
    display: flex;
    flex-direction: column;
    .social {
        width: 1px;
        position: fixed;
        margin-top: 5%;
        right: 5%;
        z-index: 7;
    }
}

i {
    &:hover {
        text-decoration: underline;
        transform: translate(5px);
    }
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    margin-left: -10%;
    flex-wrap: wrap;
    max-width: auto;
    max-height: auto;
}